version: '3'
services:
  mongodb:
    image: mongo 
    container_name: mongodb 
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=mongoadmin123
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express 
    container_name: mongo-express 
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=mongoadmin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=mongoadmin123
      - ME_CONFIG_MONGODB_SERVER=mongodb 
    ports:
      - 8081:8081
